In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
immo_ap_data = pd.read_csv('../data/cleaned/immo_apartment_not_outliers.csv')

In [4]:
immo_ap_data.head()

,Price,Facades,Habitable Surface,Type,Bedroom Count,Bathroom Count,Toilet Count,Room Count,Kitchen Type,Furnished,Terrace,Terrace Surface,State of Building,Living Surface,EPC,Consumption Per m2,Municipality,Province,APARTMENT,HOUSE
0,175000,2.0,90.0,APARTMENT,2.0,1.0,1.0,4.0,1.0,0,1,7.0,3.0,37.0,5.0,124.000000,ANTWERPEN,ANTWERPEN,1,0
1,249000,2.0,83.0,APARTMENT,1.0,1.0,1.0,3.0,1.0,0,1,2.0,3.0,41.0,5.0,188.000000,MORTSEL,ANTWERPEN,1,0
2,265000,3.0,82.0,APARTMENT,1.0,1.0,1.0,3.0,1.0,0,1,13.0,3.0,42.0,5.0,196.697603,HERENTHOUT,ANTWERPEN,1,0
3,269000,3.0,82.0,APARTMENT,1.0,1.0,1.0,3.0,1.0,0,1,8.0,3.0,35.0,5.0,196.697603,HERENTHOUT,ANTWERPEN,1,0
4,299000,3.0,94.0,APARTMENT,2.0,1.0,1.0,4.0,1.0,0,1,13.0,3.0,29.0,5.0,196.697603,HERENTHOUT,ANTWERPEN,1,0