In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
immo_h_data = pd.read_csv('../data/cleaned/immo_house_not_outliers.csv')

In [9]:
immo_h_data.head()

,Price,Facades,Habitable Surface,Type,Bedroom Count,Bathroom Count,Toilet Count,Room Count,Kitchen Type,Furnished,Terrace,Terrace Surface,State of Building,Living Surface,EPC,Consumption Per m2,Municipality,Province,APARTMENT,HOUSE
0,269000,2.0,178.000000,HOUSE,4.0,1.0,2.0,5.0,3.0,0,0,21.915179,3.0,32.000000,5.0,107.000000,TURNHOUT,ANTWERPEN,0,1
1,99000,4.0,33.000000,HOUSE,1.0,1.0,1.0,3.0,1.0,0,1,6.000000,3.0,36.465753,4.0,371.896623,LILLE,ANTWERPEN,0,1
2,584000,3.0,284.000000,HOUSE,4.0,1.0,2.0,7.0,1.0,0,0,21.915179,1.0,36.465753,4.0,371.896623,BORNEM,ANTWERPEN,0,1
3,299000,3.0,205.541958,HOUSE,3.0,1.0,1.0,4.0,1.0,0,0,21.915179,2.0,41.000000,1.0,519.000000,HEIST-OP-DEN-BERG,ANTWERPEN,0,1
4,380600,3.0,209.000000,HOUSE,3.0,1.0,2.0,6.0,1.0,0,0,21.915179,3.0,41.000000,4.0,371.896623,LAAKDAL,ANTWERPEN,0,1