In [15]:
import pandas as pd
import numpy as np

In [16]:
post_code_df = pd.read_csv('../data/raw/zipcodes_num_nl_new.csv')
post_code_df.head()

,Postcode,Plaatsnaam,Deelgemeente,Hoofdgemeente,Provincie
0,612,Sinterklaas,NaN,Sinterklaas,NaN
1,1000,Brussel,Neen,BRUSSEL,BRUSSEL
2,1005,Verenigde Vergadering van de Gemeenschappelijke,NaN,Verenigde Vergadering van de Gemeenschappelijke,BRUSSEL
3,1006,Raad van de Vlaamse Gemeenschapscommissie,NaN,Raad van de Vlaamse Gemeenschapscommissie,BRUSSEL
4,1007,Assemblée de la Commission Communautaire Franç...,NaN,Assemblée de la Commission Communautaire Franç...,BRUSSEL

In [17]:
def parse_year(year):
    return pd.to_datetime(str(year), format='%Y')

In [18]:
immo_raw_df = pd.read_csv('../data/raw/rawdata.csv', parse_dates=['Build Year'], date_format=parse_year)
immo_raw_df.head()

,ID,Locality,Postal Code,Build Year,Facades,Habitable Surface,Land Surface,Type,Subtype,Price,...,Has starting Price,Transaction Subtype,Heating Type,Is Holiday Property,Gas Water Electricity,Sewer,Sea view,Parking count inside,Parking count outside,Parking box count
0,11149965,Waremme,4300,1974,3.0,115.0,NaN,APARTMENT,APARTMENT,220000,...,False,BUY_REGULAR,FUELOIL,NaN,NaN,NaN,NaN,1.0,1.0,NaN
1,11149932,Wetteren,9230,2015,3.0,134.0,NaN,APARTMENT,DUPLEX,339000,...,False,BUY_REGULAR,GAS,NaN,NaN,NaN,NaN,NaN,1.0,NaN
2,11150061,Ixelles,1050,1958,2.0,134.0,NaN,APARTMENT,APARTMENT,495000,...,False,BUY_REGULAR,GAS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11153822,BERCHEM,2600,1968,2.0,90.0,NaN,APARTMENT,APARTMENT,175000,...,NaN,BUY_REGULAR,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
4,11153121,Jette,1090,1965,2.0,80.0,NaN,APARTMENT,APARTMENT,289000,...,False,BUY_REGULAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
immo_post_code = pd.merge(immo_raw_df, post_code_df, left_on='Postal Code', right_on='Postcode', how='inner')
immo_post_code

,ID,Locality,Postal Code,Build Year,Facades,Habitable Surface,Land Surface,Type,Subtype,Price,...,Sewer,Sea view,Parking count inside,Parking count outside,Parking box count,Postcode,Plaatsnaam,Deelgemeente,Hoofdgemeente,Provincie
0,11149965,Waremme,4300,1974,3.0,115.0,NaN,APARTMENT,APARTMENT,220000,...,NaN,NaN,1.0,1.0,NaN,4300,Bettincourt,Ja,WAREMME,LUIK
1,11149965,Waremme,4300,1974,3.0,115.0,NaN,APARTMENT,APARTMENT,220000,...,NaN,NaN,1.0,1.0,NaN,4300,Bleret,Ja,WAREMME,LUIK
2,11149965,Waremme,4300,1974,3.0,115.0,NaN,APARTMENT,APARTMENT,220000,...,NaN,NaN,1.0,1.0,NaN,4300,Bovenistier,Ja,WAREMME,LUIK
3,11149965,Waremme,4300,1974,3.0,115.0,NaN,APARTMENT,APARTMENT,220000,...,NaN,NaN,1.0,1.0,NaN,4300,Grand-Axhe,Ja,WAREMME,LUIK
4,11149965,Waremme,4300,1974,3.0,115.0,NaN,APARTMENT,APARTMENT,220000,...,NaN,NaN,1.0,1.0,NaN,4300,Lantremange,Ja,WAREMME,LUIK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28712,11162921,Gistel,8470,1958,2.0,270.0,923.0,HOUSE,HOUSE,325000,...,CONNECTED,NaN,1.0,NaN,NaN,8470,Zevekote,Ja,GISTEL,WEST-VLAANDEREN
28713,11162917,EDEGEM,2650,1951,2.0,69.0,NaN,APARTMENT,APARTMENT,175000,...,NaN,NaN,NaN,NaN,NaN,2650,Edegem,Neen,EDEGEM,ANTWERPEN
28714,11162916,Erps-Kwerps,3071,1991,4.0,390.0,1778.0,HOUSE,VILLA,899000,...,CONNECTED,NaN,2.0,3.0,NaN,3071,Erps-Kwerps,Ja,KORTENBERG,VLAAMS-BRABANT
28715,11101285,Vilvoorde,1800,2002,3.0,90.0,NaN,APARTMENT,APARTMENT,259000,...,NaN,NaN,1.0,NaN,NaN,1800,Peutie,Ja,VILVOORDE,VLAAMS-BRABANT
28716,11101285,Vilvoorde,1800,2002,3.0,90.0,NaN,APARTMENT,APARTMENT,259000,...,NaN,NaN,1.0,NaN,NaN,1800,Vilvoorde,Neen,VILVOORDE,VLAAMS-BRABANT

In [26]:
del immo_post_code['Postcode']
del immo_post_code['Plaatsnaam']
del immo_post_code['Deelgemeente']

immo_post_code.rename(columns={'Hoofdgemeente':'Municipality', 'Provincie': 'Province'}, inplace=True)

immo_post_code

,ID,Locality,Postal Code,Build Year,Facades,Habitable Surface,Land Surface,Type,Subtype,Price,...,Heating Type,Is Holiday Property,Gas Water Electricity,Sewer,Sea view,Parking count inside,Parking count outside,Parking box count,Municipality,Province
0,11149965,Waremme,4300,1974,3.0,115.0,NaN,APARTMENT,APARTMENT,220000,...,FUELOIL,NaN,NaN,NaN,NaN,1.0,1.0,NaN,WAREMME,LUIK
1,11149965,Waremme,4300,1974,3.0,115.0,NaN,APARTMENT,APARTMENT,220000,...,FUELOIL,NaN,NaN,NaN,NaN,1.0,1.0,NaN,WAREMME,LUIK
2,11149965,Waremme,4300,1974,3.0,115.0,NaN,APARTMENT,APARTMENT,220000,...,FUELOIL,NaN,NaN,NaN,NaN,1.0,1.0,NaN,WAREMME,LUIK
3,11149965,Waremme,4300,1974,3.0,115.0,NaN,APARTMENT,APARTMENT,220000,...,FUELOIL,NaN,NaN,NaN,NaN,1.0,1.0,NaN,WAREMME,LUIK
4,11149965,Waremme,4300,1974,3.0,115.0,NaN,APARTMENT,APARTMENT,220000,...,FUELOIL,NaN,NaN,NaN,NaN,1.0,1.0,NaN,WAREMME,LUIK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28712,11162921,Gistel,8470,1958,2.0,270.0,923.0,HOUSE,HOUSE,325000,...,GAS,NaN,True,CONNECTED,NaN,1.0,NaN,NaN,GISTEL,WEST-VLAANDEREN
28713,11162917,EDEGEM,2650,1951,2.0,69.0,NaN,APARTMENT,APARTMENT,175000,...,GAS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EDEGEM,ANTWERPEN
28714,11162916,Erps-Kwerps,3071,1991,4.0,390.0,1778.0,HOUSE,VILLA,899000,...,FUELOIL,NaN,True,CONNECTED,NaN,2.0,3.0,NaN,KORTENBERG,VLAAMS-BRABANT
28715,11101285,Vilvoorde,1800,2002,3.0,90.0,NaN,APARTMENT,APARTMENT,259000,...,GAS,NaN,NaN,NaN,NaN,1.0,NaN,NaN,VILVOORDE,VLAAMS-BRABANT
28716,11101285,Vilvoorde,1800,2002,3.0,90.0,NaN,APARTMENT,APARTMENT,259000,...,GAS,NaN,NaN,NaN,NaN,1.0,NaN,NaN,VILVOORDE,VLAAMS-BRABANT